.mod_banner_be {
	font-size: 12px;
	min-height: 20px;
}
.mod_banner_be .name {
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.mod_banner_be .right {
	float: right;
}
.mod_banner_be .left {
	float       : left;
	margin-left : 5px;
	margin-right: 5px;
	margin-top  : 5px;
	white-space : nowrap;
    min-width   : 102px;
}

.mod_banner_be .date_head {
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    min-width   : 100px;
    border-bottom: 1px solid #ddd;
}
.mod_banner_be .date_data {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.mod_banner_be .url {
	clear:both;
	padding-top: 5px;
	padding-bottom: 5px;
}

.mod_banner_be .published_head {
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    min-width   : 100px;
    border-bottom: 1px solid #ddd;
}
.mod_banner_be .published_data {
    font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.mod_banner_be .filter {
	clear:both;
	margin-left : 5px;
	margin-right: 5px;
	margin-top  : 5px;
	white-space : nowrap;
  min-width   : 102px;
}
.tl_file_list .banner_stat_yes {
    color: green;
    font-weight: bold;
}
.tl_file_list .banner_stat_no {
    color: #700000; 
    font-weight: bold;
}

#tl_banner_category div p.tl_tip {
    overflow: visible;
}

.mod_banner_be_st a.button, .mod_banner_be_st button { display: inline-block; padding: 4px 12px 4px 13px; font-size: 12px; white-space: nowrap; overflow: visible; cursor: pointer; text-decoration: none; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; outline: none; position: relative; zoom: 1; line-height: 1.11; *display: inline; *vertical-align: middle; }
.mod_banner_be_st button { margin-left: 0; margin-right: 0; *padding: 4px 12px 4px 13px; }
.mod_banner_be_st a.button { -moz-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-user-select: none; -webkit-touch-callout: none;}
.mod_banner_be_st button::-moz-focus-inner { border: 0; padding:0px; }

.chrome .mod_banner_be_st .fs {padding:6px 9px 9px 6px;}

